/* Empty. Add your own CSS if you like */
.cartao-frente: {
    url(img/cartao_frente.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}