<ion-view title="Meu Médico">
      <ion-content class="padding">
          <p>
              <img src="img/iasep-slogan.png">
          </p>

          <button ng-click="onGuiaMedico()" class="button button-block button-positive">Guia Médico</button>
          <button ng-click="onExtratoCotas()" class="button button-block button-positive">Extrato de Cotas</button>
          <button ng-click="onCarteiraVirtual()" class="button button-block button-positive">Carteira Virtual</button>
      </ion-content>
  </ion-view>