<ion-view title="Meu Médico">
    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

            <ion-content class="padding">
                <p style="text-align: center;"><img src="img/familia.jpg"></p>

                <button ng-click="onGuiaMedico()" class="button button-block button-iasep">
                    Guia Médico
                </button>
                <button ng-click="onExtratoCotas()" class="button button-block button-iasep">
                    Extrato de Cotas
                </button>
                <button ng-click="onCarteiraVirtual()" class="button button-block button-iasep">
                    Carteira Virtual
                </button>
                <br />
                <p style="text-align: center;"><img src="img/iasep-slogan.png"></p>
            </ion-content>

            <ion-footer-bar class="bar bar-footer bar-light">
                Instituto de Assistência dos Servidores do Estado do Pará - Todos os direitos reservados.
            </ion-footer-bar>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-content>
                <ul class="list">
                    <li ng-click="onIdentificacao()" class="item">Meus Dados</li>
                    <li class="item">Contato</li>
                    <li class="item">Sobre</li>
                </ul>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>