<ion-view title="Credenciados">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                CAFISIO - CLÍNICA DE FISIOTERAPIA
            </div>
            <div class="item item-text-wrap">
                AV. SENADOR LEMOS, 129, WANDENKOLK / VISCONDE DE SOUZA FRNCO, UMARIZAL<br />
                Fone(s): 3222-4313, 3223-7593<br />
                BELÉM<br />
                <button ng-click="onSelecionar()" class="button button-clear">
                    Ver Médicos
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                CAFISIO - CLÍNICA DE FISIOTERAPIA
            </div>
            <div class="item item-text-wrap">
                AV. SENADOR LEMOS, 129, WANDENKOLK / VISCONDE DE SOUZA FRNCO, UMARIZAL<br />
                Fone(s): 3222-4313, 3223-7593<br />
                BELÉM<br />
                <button ng-click="onSelecionar()" class="button button-clear">
                    Ver Médicos
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                CAFISIO - CLÍNICA DE FISIOTERAPIA
            </div>
            <div class="item item-text-wrap">
                AV. SENADOR LEMOS, 129, WANDENKOLK / VISCONDE DE SOUZA FRNCO, UMARIZAL<br />
                Fone(s): 3222-4313, 3223-7593<br />
                BELÉM<br />
                <button ng-click="onSelecionar()" class="button button-clear">
                    Ver Médicos
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>